<div class="container">
  <h1>Admin Panel</h1>
  <p>Base information regarding to the current running services</p>
  <div class="col-sm-4 adPanel">
    <h2>Current Servers</h2>
    <h4>Number of active servers: {{activeServers}}</h4>
    <h2>Server Data</h2>
    <ul>
      {{serverData}}
    </ul>
  </div>
  <div class="col-sm-4 adPanel">
    <h2>Current Files</h2>
    <h4>Number of uploaded files: {{fileQuantity}}</h4>
    <h2>File Names</h2>
    <ul>
      {{fileNames}}
    </ul>
  </div>
</div>
