<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Server{{number}}</title>

</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<style type="text/css">
@import url(http://fonts.googleapis.com/css?family=Varela+Round);
@import url(http://necolas.github.io/normalize.css/3.0.2/normalize.css);

body {
    background: #ECEEEF;
    text-align: center;
    margin: 100px auto;
    max-width: 462px;
    padding: 0 40px;
    font: 18px normal 'Varela Round', Helvetica, serif;
    color: #777B7E;
}
</style>
<script type="text/javascript">
    var delayMultiplier = {{delay_number}};

    var newNumber = delayMultiplier;

  setInterval(function(){
  //do what you need here
  newNumber++;
  $("#header").empty();
  $("#header").html(newNumber);
}, 3500);
</script>
<body>
